<%= form_for(attendance_list) do |f| %>
  <% if attendance_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance_list.errors.count, "error") %> prohibited this attendance_list from being saved:</h2>

      <ul>
      <% attendance_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Abertura' %>
    <%= f.datetime_select :openess %>
  </div>

  <div class="field">
    <%= f.label 'Fechamento' %>
    <%= f.datetime_select :closure %>
  </div>

  <div class="field">
    <%= f.label 'Titulo' %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label 'Local' %>
    <%= f.text_field :local %>
  </div>
  
  <div class="field">
    <%= f.label 'Abertura' %>
    <%= f.datetime_select :start %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'button right' %>
  </div>
<% end %>
