<p id="notice"><%= notice %></p>

<h1>Attendance Lists</h1>

<table>
  <thead>
    <tr>
      <th>Openess</th>
      <th>Closure</th>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendance_lists.each do |attendance_list| %>
      <tr>
        <td><%= attendance_list.openess %></td>
        <td><%= attendance_list.closure %></td>
        <td><%= attendance_list.name %></td>
        <td><%= attendance_list.user %></td>
        <td><%= link_to 'Show', attendance_list %></td>
        <td><%= link_to 'Edit', edit_attendance_list_path(attendance_list) %></td>
        <td><%= link_to 'Destroy', attendance_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance List', new_attendance_list_path %>
