<p id="notice"><%= notice %></p>

<p>
  <strong>Openess:</strong>
  <%= @attendance_list.openess %>
</p>

<p>
  <strong>Closure:</strong>
  <%= @attendance_list.closure %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attendance_list.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @attendance_list.user %>
</p>

<%= link_to 'Edit', edit_attendance_list_path(@attendance_list) %> |
<%= link_to 'Back', attendance_lists_path %>
