<p id="notice"><%= notice %></p>

<h2>Nome da partida: <%= @attendance_list.name %></h2>

<br>

<p>
  <strong>Iníco das inscrições:</strong>
  <%= l @attendance_list.openess %>
</p>

<p>
  <strong>Fechamento das inscrições:</strong>
  <%= l @attendance_list.closure %>
</p>

<p>
  <strong>Local:</strong>
  <%= @attendance_list.local %>
</p>

<p>
  <strong>Início da partida:</strong>
  <%= l @attendance_list.start %>
</p>

<% if current_user.admin %>
  <%= link_to 'Editar', edit_attendance_list_path(@attendance_list) %> |
<% end %>

<%= link_to 'Voltar', attendance_lists_path %>
